# ignore compiled python files
*.pyc

# ignore any APK's used for testing
*.apk

# ignore log file
*.log

# ignore .swp files
*.swp

# ignore configuration file
conf/*

# ignore python files in scripts directory
files/scripts/*

# Ignore "command" files
*.command

# Ignore text files
*.txt

# Ignore back up files
*.py_bak
